body{
    background:fixed;
    font-family: Tahoma;
    color: white;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

header img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid white;
}

.center{
    text-align: center;
}

h1{
    text-align: center;
    font-family: Arial;
    font-size:50px;
}

h2{
    text-align: center;
    font-size: 25px;
}

p{
    font-size:x-large;
}

form input{
    padding: 5px 25px;
    margin: 8px 0; 
    background-color: lightgrey;
    border-radius: 20px
}

form button{
    color: black;
    background-color: whitesmoke;
    border: none;
    margin-left: center;
    margin-top: center;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    
}

form ::placeholder{
    color: gray;
}

form fieldset{
    width: 50%;
    border-radius: 15px;
    background-color: black;
    opacity: 0.7;
    margin: auto;
   
}

.portifolio img{
  width:300px;
  height: 300px;
  margin: 0.3cm;
  border-radius: 15px;
}

div img{
    width:250px;
    height: 250px;
    border-radius: 5%;
    margin-left: 17px;
    margin-right: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

div h2{
    font-family: 'Segoe UI'
    color black
}

body footer{
    font-family: arial;
}

fieldset.portifolio{
    border-radius: 40px;
    color: white;
    background-color: rgb(210, 210, 210);
    border: none;
    height: 100px;
    width: 50%;
    margin: auto;
}

fieldset.quadros{
    margin: 5%;
    border-radius: 10px;
    background-color: rgb(214, 214, 214);
    border: none;
}

fieldset.camisas{
    margin: 5%;
    border-radius: 10px;
    background-color: rgb(214, 214, 214);
    border: none;
}
fieldset.portifolio h2 a{
    size: 100%;
}

.sobre div img{
    border-radius: 50%;
}

fieldset.sobre{
    background-color: rgb(148, 148, 148);
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    width: 50%;
    margin: auto;
    color: rgb(255, 255, 255);
}

fieldset.index img{
    background-color: white;
    height: 25px;
    width: 25px;
    border: 1px solid white;
    border-radius: 9px;
}

fieldset.index{
    background-color: black;
    border-radius: 20px;
    border: none;
    opacity: 0.6;
}
